body{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.section1{
  background-color: #fff;
  padding: 5rem 3.5rem 10rem ;
}

.section2{
  background-color: #F5F5F5;
  padding: 5rem 3.5rem 10rem;
}

.sectionsign1{
  background-color: #fff;
  padding: 5rem 3.5rem 5.5rem ;
}

.sectionsign2{
  background-color: #F5F5F5;
  padding: 5rem 3.5rem 5.5rem;
}

.bottom{
  padding-bottom: 30px;
}

.bottom-logo{
  padding-bottom: 120px;
}

.footer{
   background: linear-gradient(to right, #fff 58.5%, #f5f5f5 30%);
   padding: 0 524px;
}

.footersign{
   background: linear-gradient(to right, #fff 58.5%, #f5f5f5 30%);
   padding: 0 575px;
}
.copyright{
  padding: 0 50px
}

.logo{
  height: 150px;
  width: 150px;
}

h1,h2,h3 {
  color: 	#383838;
  font-family: inherit;
}

.loginImages{
  height: 30px;
  width: 30px;
}

.btn{
  margin: 10px 5px 15px;
}

.selection{
  padding: 12px 22rem 12px 18px;
  margin: 8px 0;
  border-radius: 25px;
  border: 2px solid grey;
}

.input-email{
  padding: 0 0 0.2rem 0;
}

.input{
  padding: 12px 16rem 12px 20px;
  margin: 8px 0;
  border-radius: 25px;
  border: 2px solid grey;
}

.info-image{
  padding: 10px 10px 10px 10px;;
}
